extends basiclayout

block bodycontent
    .jumbotron.pageTitle
        | #{title}
    .container-fluid
        .panel.panel-default
            .panel-body
                .panel-body-content
                    .panel.panel-default
                        .panel-heading
                            button(class='btn-block' data-toggle='collapse' data-target='#venues') Venues
                        .panel-body.collapse(id='venues')
                            h2(style='text-align: left')
                                a(href='/api/venues') /venues/
                            p(style='text-align: left') Returns all venues' data.

                            h2(style='text-align: left')='/venues/<venue_id>/'
                            table.table.table-bordered
                                thead
                                    tr
                                        th Attribute
                                        th Description
                                tbody
                                    tr
                                        td name
                                        td='Get the name of the venue with id <venue_id>'
                                    tr
                                        td street
                                        td='Get the street of the venue with id <venue_id>'
                                    tr
                                        td house_number
                                        td='Get the house number of the venue with id <venue_id>'
                                    tr
                                        td postal_code
                                        td='Get the postal code of the venue with id <venue_id>'
                                    tr
                                        td city
                                        td='Get the city of the venue with id <venue_id>'
                                    tr
                                        td country
                                        td='Get the country of the venue with id <venue_id>'
                                    tr
                                        td x_coordinate
                                        td='Get the x_coordinate of the venue with id <venue_id>'
                                    tr
                                        td y_coordinate
                                        td='Get the y_coordinate of the venue with id <venue_id>'
                                    tr
                                        td phone_number
                                        td='Get the phone number of the venue with id <venue_id>'
                                    tr
                                        td opening_hours
                                        td='Get the opening hours of the venue with id <venue_id>'
                                    tr
                                        td owner_id
                                        td='Get the id of the owner of the venue with id <venue_id>'
