extends basiclayout

block headcontent
    link(rel="stylesheet", href="css/home.css")
    include includes/google-maps.pug
    script(src='/scripts/map.js')

    style.
        #googlemap {
            height: 500px;
        }

        html, body {
            height: 100%;
        }

        #googlemap * {
            overflow: visible;
        }

block headercontent
    //remove header
block bodycontent

    mixin spotlightArticle(cl, id, image, title)

        - image = image ? image : '/images/restobar_logo.png';

        div(class=cl)
            a.venue(href="/venue/" + id)
                img(src=image)
                span #{title}

    mixin smallArticle(id, image, title, rating, ratingCount)

        - image = image ? image : '/images/restobar_logo.png';

        a.venue.row(href="/venue/" + id)
            span.imgContainer.col-xs-3
                img(src=image)
            span.infoContainer.row-xs-9
                span.title #{title}

                unless ratingCount = 0
                    br
                    span.stars
                        - var n = 1;
                        - var limit = (parseFloat(rating) + 0.25);
                        //We round it a little bit so that 3.8 stars becomes 4
                        while n <= limit
                            - n++;
                            i.fa.fa-star(aria-hidden='true')

                        //Get the decimal part and check if it's >= to 0.25 and smaller than 0.75 (rounding)
                        - var showHalfStar = (rating % 1) > 0.25 && (rating % 1) < 0.75;
                        if showHalfStar
                            - n++;
                            i.fa.fa-star-half-o(aria-hidden='true')

                        - var starsLeft = 5 - n;
                        while starsLeft >= 0
                            - starsLeft--;
                            i.fa.fa-star-o(aria-hidden='true')


    #splashBlock
        #overlay
            #logoWrapper
                a(href='/') Restobar
                div(class='siteTopLogo')
                    img(id='siteLogo' src="./images/restobar_logo.png" alt="restobar_logo" align="center")

            form#search.row(method="post" name="search" action="#")
                .input-group.input-group-lg
                    input(type="text" name="search" class="form-control" placeholder="Search a venue")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            | Search!

    .container-fluid

        if nmbRecommendations
            section#spotlight
                h2
                    | Recommended by others
                .row

                    if nmbRecommendations == 1
                        .col-md-4 &nbsp;
                        +spotlightArticle('col-md-4', recommendations[0].venue_id, recommendations[0].image_url, recommendations[0].name)
                        .col-md-4 &nbsp;

                    if nmbRecommendations == 2
                        .col-md-3 &nbsp;
                        each val in recommendations
                            +spotlightArticle('col-md-3', val.venue_id, val.image_url, val.name)
                        .col-md-3 &nbsp;

                    if nmbRecommendations == 3
                        each val in recommendations
                            +spotlightArticle('col-md-4', val.venue_id, val.image_url, val.name)

                    if nmbRecommendations == 4
                        each val in recommendations
                            +spotlightArticle('col-md-3', val.venue_id, val.image_url, val.name)


        section#personalRecommendations.row
            #leftCol.col-md-6
                #googlemap

                #recentRatings
                    h3 Recent Ratings

                    each val in recentlyRated
                        +smallArticle(val.venue_id, val.image_url, val.name, val.rating)


            #rightCol.col-md-6
                - var showFavorites = userFavorites && userFavorites.length;
                if userID
                    if showFavorites
                        h3 Your favorites
                        each val in userFavorites
                            +smallArticle(val.venue_id, val.image_url, val.name, val.rating, val.rating_count)
                    else
                        h3 Your favorites
                        p You don't have any favorites. What are you waiting for?

                else
                    //User is not logged in
                    h3 Recently Added
                    each val in recentlyAdded
                        +smallArticle(val.venue_id, val.image_url, val.name, val.rating, val.rating_count)

    script(src='/scripts/weather.js')
    script.
        $(".container-fluid:first-of-type").removeClass("container-fluid");

        $(function () {
            createMap(true);
        });
        $(function(){
            navigator.geolocation.getCurrentPosition(getVenuesAroundMe);

            function getVenuesAroundMe(location){
                if (location) {
                    $.get('/venues_around_me', {lat: location.coords.latitude, long: location.coords.longitude}, function(data){
                        if(data[0] != "SUCCESS"){
                            $("#googlemaps").css("display" , "none");
                            console.log("Can't get info");
                            return;
                        }

                        $("#recentRatings").css("display" , "none");

                        for(idx in data[1]){

                            //Go over locations
                            var tempMarker = new google.maps.Marker({
                                                map: map,
                                                position: new google.maps.LatLng(
                                                    data[1][idx].y_coordinate,
                                                    data[1][idx].x_coordinate
                                                ),
                                                title: data[1][idx].name
                                            });

                            tempMarker.addListener('click', function() {
                                console.log("clicked!!");
                                window.location = "/venue/" + data[1][idx].venue_id;
                            });
                        }

                    }, 'json');
                }
            }
        });