extends basiclayout

block headcontent
    style.
        html, body {
            height: 100%;
        }
        h1{
            text-align: center;
            font-size: 3em;
            margin-top: 0.75em;
        }
        span.name{
            color: #000;
            display: inline-block;
            margin-right: 1em;
        }
        #details .tag {
            font-weight: bold;
        }
        #details div {
            margin: 0.25em 0;
        }
        #googlemap {
            height: 500px;
        }
        #googlemap * {
            overflow: visible;
        }
        #rateVenue{
            margin-bottom: 2.5em;
        }
        #noReviews{
            text-align: center;
            background-color: #7a3d13;
            padding: 0.5em;
            color: #FFF;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .review{
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: solid 1px #7a3d13;
            overflow: hidden;
            margin-bottom: 2em;
        }
        .review .writer{
            background-color: #7a3d13;
            padding: 1em;
            color: #FFF;
        }
        .review .writer .name{
            display-inline: block;
            padding-left: 1em;
            color: #FFF;
        }
        .review .content{
            text-align: justify;
            padding: 1em;
        }

    include includes/google-maps.pug
    script(src='/scripts/map.js')


block bodycontent

    .col-md-6.col-lg-4.col-centered

        if errors
            each error in errors
                .error.bg-danger #{error}

        h1
            span.name
                | #{venueData.name}

            unless venueData.noRating
                - var n = 1;
                while n <= venueData.rating
                    - n++;
                    i.fa.fa-star(aria-hidden='true')

                - var showHalfStar = ((venueData.rating.toFixed(1) % 0.5) % 2) == 0
                if showHalfStar
                    i.fa.fa-star-half-o(aria-hidden='true')

                - var starsLeft = 5 - n;
                while starsLeft >= 1
                    - starsLeft--;
                    i.fa.fa-star-o(aria-hidden='true')

        h2 Details

        #details.row
            .col-md-6
                .row
                    .col-xs-4.tag Name:
                    .col-xs-8 #{venueData.name}
                    .col-xs-4.tag Address:
                    .col-xs-8.
                        #{venueData.street} #{venueData.house_number} <br>
                        #{venueData.postal_code} #{venueData.city} <br>
                        #{venueData.country}
                    .col-xs-4.tag Phone:
                    .col-xs-8 #{venueData.phone_number}
                    .col-xs-4.tag Email:
                    .col-xs-8 #{venueData.email}
            .col-md-6
                .tag Opening Hours:
                div !{venueData.opening_hours.replace(/\n/g, '<br/>')}
        if userID == venueData.owner_id
            p(style="text-align: center;")
                a.btn.btn-default(href='/edit_venue/' + venueData.venue_id) Edit

    #googlemap

    .col-md-6.col-lg-4.col-centered

        if userID

            form#rateVenue(method='POST').col-sm-10.col-md-8.col-centered
                h2(style="text-align: center;") Review #{venueData.name}

                div(class='form-group')
                    label(for='rating') Rating:
                    select(class='form-control' name='rating')
                        - var n=0;
                        while n <= 5
                            if fields.rating == n
                                option(value=n selected) #{n} Stars
                            else
                                option(value=n) #{n} Stars
                            - n++;

                div(class='form-group')
                    label(for='comments') Comments:
                    textarea(id='comments' class='form-control' name='comments' style="height: 7.5em;") #{fields.comments}

                div(style="text-align: center;")
                    button(class='btn btn-default' type='submit') Add Rating

        h2(style="text-align: center;") Reviews

        - nmbReviews = reviews.length
        unless nmbReviews
            if userID
                p#noReviews We found no reviews for this venue. Add one now!
            else
                p#noReviews We found no reviews for this venue. Log in or register to add one!

        each review in reviews
            .review
                .writer
                    - var n = 1;
                    while n <= review.rating
                        - n++;
                        i.fa.fa-star(aria-hidden='true')

                    - var starsLeft = 5 - n;
                    while starsLeft >= 1
                        - starsLeft--;
                        i.fa.fa-star-o(aria-hidden='true')

                    span.name #{review.first_name} #{review.last_name}

                    span.date #{review.formatted_date}

                .content #{review.comments}

    script.
         $(function(){
            createMap(false);
            createMarker(#{venueData.y_coordinate}, #{venueData.x_coordinate}, '#{venueData.name}');
            setMapCenter(#{venueData.y_coordinate}, #{venueData.x_coordinate});
            map.setOptions({ //We don't want the map to zoom on scroll
                scrollwheel: false
            });
         });